.header-search {
    border: 1px solid #cccccc;
    padding: 8px 13px;
    min-width: 227px;
    margin-left: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__input {
        border: 0;
        color: #777777;
        font-size: 12px;
        font-family: "Segoe UI";
        &::placeholder {
            color: #777777;
            font-family: "Segoe UI";
        }
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        border: 0;
        padding: 0;
        background: transparent;
    }
}

.icon-svg-header-search {
    width: 13px;
    height: 13px;
    color: #444;
} 

 