
.header-navbar {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.header-event {
    display: flex;
    align-items: center;
    &__item {
        padding: 0;
    }
    &__link {
        font-family: 400;
        color: #777777;
        border-right: 1px solid #e0e0e0;
        padding: 0 15px;
        font-size: 12px;
        &--border {
            border-right: 0;
        }
    }
}

.card-amout {
    display: flex;
    background-color: #f1f3f5;
    border: 0;
    padding: 12px 14px;
    cursor: pointer;
    font-size: 11px;
    color: #444444;
    margin-left: 4px;
    .icon-svg {
        margin-right: 8px;
        font-size: 1em;
        width: 1em;
        height: 1em;
    }
}

.navigation {
    border-top: 1px solid #e0e0e0;
}

.navigation-list {
    background: #f5f7f9;
    @extend .wrapper;
    display: flex;
    &__item {
        padding: 17px 22px 15px 22px;
    }
    &__link {
        text-transform: uppercase;
        font-size: 14px;
        color: #444444;
    }
}

 