
    .breeze-button {
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            color: #ffffff;
            font-size: 13px;
            background-color: #59b7c2;
            border-radius: 5px;
            padding: 0 55px;
            border: none;
            cursor: pointer;
        }
    }

    