.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-basket {
	font-size:(1792/10)*1rem;
	width:(1792/1792)*1em;
}
.icon-svg-header-search {
	font-size:(250.31/10)*1rem;
	width:(250.31/250.31)*1em;
}
.icon-svg-icon_cart {
	font-size:(13/10)*1rem;
	width:(16/13)*1em;
}
.icon-svg-logo {
	font-size:(56/10)*1rem;
	width:(132/56)*1em;
}
.icon-svg-next-arrow {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-svg-phone {
	font-size:(66.56/10)*1rem;
	width:(90.68/66.56)*1em;
}
.icon-svg-prev-arrow {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-svg-search {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-shopping-basket {
	font-size:(487.1/10)*1rem;
	width:(487.1/487.1)*1em;
}
