$sr-max-767: "screen and (max-width: 767px)";
$sr-min-768: "screen and (min-width: 768px) and (max-width: 1080px)";
$sr-min-960: "screen and (min-width: 960px)";
$sr-min-1380: "screen and (min-width: 1380px)";